<%= turbo_frame_tag "main_content" do %>
  <%= turbo_refreshes_with method: :morph, scroll: :preserve %>

  <div class="h-[calc(100vh-10rem)] w-full page-grid">
    <%= render "workspace_lista", venta: @venta, ventas: @ventas %>
  </div>

<% end %>
