<%= turbo_frame_tag "main_content" do %>

  <h1 class="text-3xl font-bold">Panel de Control</h1>

  <div class="mt-6 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">

    <div class="card w-full bg-base-100 card-sm shadow-sm">
      <div class="card-body">
        <h2 class="card-title">Ventas Diarias</h2>
        <p class="mt-2 text-3xl font-bold">$2,500</p>
        <p class="mt-1 text-base font-medium text-green-500">+10%</p>
      </div>
    </div>

    <div class="card w-full bg-base-100 card-sm shadow-sm">
      <div class="card-body">
        <h2 class="card-title">Productos Vendidos</h2>
        <p class="mt-2 text-3xl font-bold">150</p>
        <p class="mt-1 text-base font-medium text-green-500">+5%</p>
      </div>
    </div>

    <div class="card w-full bg-base-100 card-sm shadow-sm">
      <div class="card-body">
        <h2 class="card-title">Valor Total del Inventario</h2>
        <p class="mt-2 text-3xl font-bold">$15,000</p>
        <p class="mt-1 text-base font-medium text-green-500">-2%</p>
      </div>
    </div>
  </div>

  <div class="mt-8">
    <h2 class="text-xl font-bold">Productos Más Vendidos</h2>

    <div class="mt-4 col-span-2 card bg-base-100 p-4 shadow-2xl flex flex-col">

      <div class="overflow-x-auto w-full">
        <table class="table w-full">
          <thead>
          <tr>
            <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Producto</th>
            <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Cantidad Vendida
            </th>
            <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-500">Ingresos</th>
          </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
          <tr>
            <td class="whitespace-nowrap px-6 py-4 text-sm font-medium">El Principito</td>
            <td class="whitespace-nowrap px-6 py-4 text-sm text-gray-500">30</td>
            <td class="whitespace-nowrap px-6 py-4 text-sm text-gray-500">$300</td>
          </tr>
          <tr>
            <td class="whitespace-nowrap px-6 py-4 text-sm font-medium">Cien Años de Soledad</td>
            <td class="whitespace-nowrap px-6 py-4 text-sm text-gray-500">25</td>
            <td class="whitespace-nowrap px-6 py-4 text-sm text-gray-500">$250</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="mt-8">
    <h2 class="text-xl font-bold">Estado del Inventario</h2>
    <div class="mt-4 col-span-2 card bg-base-100 p-4 shadow-2xl flex flex-col">
      <div class="flex items-start justify-between">
        <div>
          <p class="text-base font-medium text-gray-500">Nivel de Stock</p>
          <p class="mt-2 text-3xl font-bold">1000 <span class="text-base font-normal text-gray-500">Total</span></p>
          <p class="mt-1 text-base font-medium text-green-500">+5%</p>
        </div>
      </div>
      <div class="mt-6 h-48">
        <div class="grid h-full grid-flow-col items-end justify-items-center gap-4">
          <div class="flex h-full w-full flex-col items-center justify-end">
            <div class="w-8 rounded-t bg-primary/50" style="height: 100%;"></div>
            <p class="mt-2 text-xs font-medium text-gray-500">Libros</p>
          </div>
          <div class="flex h-full w-full flex-col items-center justify-end">
            <div class="w-8 rounded-t bg-primary/50" style="height: 70%;"></div>
            <p class="mt-2 text-xs font-medium text-gray-500">Papelería</p>
          </div>
          <div class="flex h-full w-full flex-col items-center justify-end">
            <div class="w-8 rounded-t bg-primary/50" style="height: 40%;"></div>
            <p class="mt-2 text-xs font-medium text-gray-500">Revistas</p>
          </div>
          <div class="flex h-full w-full flex-col items-center justify-end">
            <div class="w-8 rounded-t bg-primary/50" style="height: 10%;"></div>
            <p class="mt-2 text-xs font-medium text-gray-500">Otros</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
