<dialog id="my_modal_1" class="modal modal-bottom modal-middle">
  <div class="modal-box w-11/12 max-w-xl overflow-hidden flex flex-col max-h-[50vh] h-[50vh] p-0">

    <div class="p-4 border-b border-base-200 flex justify-between items-center shrink-0 bg-base-100">
      <h3 class="font-bold text-lg">Roles de <%= defined?(usuario) ? usuario&.primer_nombre : '' %></h3>
      <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost">✕</button>
      </form>
    </div>

    <div class="flex-1 overflow-hidden relative">
      <div class="tabs tabs-lifted h-full grid-rows-[auto_1fr]">

        <input type="radio" name="roles_tabs" class="tab row-start-1" aria-label="Asignados" checked="checked"/>

        <div class="tab-content bg-base-100 border-base-300 rounded-b-box row-start-2 h-full overflow-hidden p-0">

          <div class="h-full overflow-y-auto p-4 custom-scrollbar">
            <table class="table table-pin-rows">
              <thead>
                <tr class="bg-base-100 z-10 sticky top-0">
                  <th>Rol Asignado</th>
                  <th>Estado</th>
                  <th class="text-right">Quitar</th>
                </tr>
              </thead>
              <tbody id="tbody_roles_asignados">
                <%= render "lista_roles_asignados", roles_usuario: roles_usuario, usuario: @usuario %>
              </tbody>
            </table>
          </div>
        </div>

        <input type="radio" name="roles_tabs" class="tab row-start-1" aria-label="Disponibles"/>

        <div class="tab-content bg-base-100 border-base-300 rounded-b-box row-start-2 h-full overflow-hidden p-0">

          <div class="h-full overflow-y-auto p-4 custom-scrollbar">
            <table class="table table-pin-rows">
              <thead>
                <tr class="bg-base-100 z-10 sticky top-0">
                  <th>Rol Disponible</th>
                  <th class="text-right">Agregar</th>
                </tr>
              </thead>
              <tbody id="tbody_roles_disponibles">
                <%= render "lista_roles_disponibles", lista_agregar_roles: lista_agregar_roles, usuario: @usuario %>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>

    <div class="modal-action shrink-0 p-4 mt-0 bg-base-100 border-t border-base-200">
      <form method="dialog">
        <button class="btn">Cerrar</button>
      </form>
    </div>

  </div>
</dialog>
