<% if lista_agregar_roles.any? %>
  <% lista_agregar_roles.each do |rol| %>
    <tr class="hover">
      <td><%= rol.nombre %></td>
      <td class="text-right">
        <%= link_to add_rol_seguridad_usuario_path(usuario, rol_id: rol.id),
                    data: { turbo_method: :post },
                    class: "btn btn-sm btn-square btn-ghost text-success" do %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" /></svg>
        <% end %>
      </td>
    </tr>
  <% end %>
<% else %>
  <tr><td colspan="2" class="text-center text-base-content/50 py-4">No hay más roles disponibles para agregar.</td></tr>
<% end %>
